<div class="info">
  <div class="content">
    <div>
      <h2 class="title">
        Самая вкусная пицца в мире <span>только в Pizza Chef</span>
      </h2>

      <div class="features">
        <div class="feature">
          <img src="images/hop.png" alt="wheat" />
          <div>
            <h3 class="title">ЛУЧШЕЕ ТЕСТО</h3>
            <p class="description">
              Мы создаем тесто только из отборной итальянской муки, наивысшего
              качества
            </p>
          </div>
        </div>

        <div class="feature">
          <img src="images/kitchen-pack.png" alt="kitchen-pack" />
          <div>
            <h3 class="title">ЛУЧШИЕ ПОВАРА</h3>
            <p class="description">
              Пиццы готовят самые профессиональные итальянские повара
            </p>
          </div>
        </div>
        <div class="feature">
          <img src="images/seo-and-web.png" alt="check mark" />
          <div>
            <h3 class="title">ГАРАНТИЯ КАЧЕСТВА</h3>
            <p class="description">
              Наша пиццерия получила множество наград и признаний по всему миру
            </p>
          </div>
        </div>

        <div class="feature">
          <img src="images/holidays.png" alt="dish" />
          <div>
            <h3 class="title">ОТБОРНЫЕ РЕЦЕПТЫ</h3>
            <p class="description">
              Мы используем рецепты от мировых лидеров в изготовлении пиццы
            </p>
          </div>
        </div>
      </div>
    </div>

    <img src="images/pizza_big.png" alt="Горячая пицца" class="image" />
  </div>

  <button class="btn-order">Выбрать пиццу</button>
</div>
